<!DOCTYPE html>
<html>
    <%- include('../navbar'); -%>
    <h1><%= selected.title %></h1>
    <h3>Host: <%= selected.host.name %></h3>
    <h3>Description: <%= selected.description %></h3>
    <h3>Capacity: <%= selected.capacity %></h3>
    <h3>Location: <%= selected.location %></h3>
    <h3>Date/time: <%= selected.datetime %></h3>
    <h3>Institution Only: <%= selected.institutiononly %></h3>
    <h3>Private: <%= selected.private %></h3>
    <button id='signup' >Sign Up</button>
</html>

<script>
    const button = document.getElementById('signup');
    button.addEventListener("click", async(e) => {
        e.preventDefault();
        let event = "<%= selected.id %>";
        let user = "<%= user.id %>";
        try{
            const result = await fetch(`/events/view/${event}`, {
                method : 'POST',
                body : JSON.stringify({ eventId : event, userId : user }),
                headers : { 'Content-Type' : 'application/json' }
            });
            const data = await result.json();
            //console.log(data)
            if(data.event){
                location.assign('/');
            }
        }catch(err){
            console.log(err);
        }
    });
</script>